#app {
  max-width: 1800px;
  padding: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
}

#instructions {
  height: 1710px;
  width: 1800px;
  z-index: 20;
  position: absolute;
  margin: 0 auto;
  /* padding: 50px; */
  justify-content: center;
  text-align: center;
  /* background-color: #4f0000; */
  background-color: #2b0000;
  color: #f8f8f8;
}

.browse_content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 150px;
}

.indivPizza_img-cheese {
  background-image: url(../assets/cheese.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 225px;
  width: 400px;
}

.indivPizza_img-pepperoni {
  background-image: url(../assets/pepperoni.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 225px;
  width: 400px;
}

.indivPizza_img-meat {
  background-image: url(../assets/meat.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 225px;
  width: 400px;
}

.indivPizza_img-veggie {
  background-image: url(../assets/veggie.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 225px;
  width: 400px;
}

.indivPizza_img-bbq {
  background-image: url(../assets/bbq.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 225px;
  width: 400px;
}

.indivPizza {
  height: 400px;
  width: 400px;
  background-color: #f8f8f8;
  margin-bottom: 32px;
  color: black;
}

.header {
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./../assets/header.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

h1 {
  position: absolute;
  bottom: -30px;
  left: 25px;
  font-size: 72px;
  color: #f8f8f8;
}

.orderForm {
  margin: 0 auto;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

button,
input,
select {
  display: block;
  margin: 15px;
  width: 200px;
  height: 50px;
  padding: 5px;
}

.barCharts {
  margin: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  height: 400px;
  position: relative;
  border: 1px solid black;
  width: fit-content;
  padding: 10px 64px;
}

#bar {
  height: 20px;
  color: #f8f8f8;
  padding: 10px;
  text-align: center;
  margin: 16px;
}

.cheese {
  background-color: #4f0000;
}
.pepperoni {
  background-color: #740000 !important;
}
.veggie {
  background-color: #980000 !important;
}
.meat {
  background-color: #b50000 !important;
}
.bbq {
  background-color: #d30000 !important;
}

#results {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.indivOrder {
  background-color: #f8f8f8;
  border: 1px solid darkgray;
  margin: 10px;
  padding: 25px;
  max-width: 300px;
  height: 350px;
}

.indivOrder div {
  display: inline-block;
  width: 43px;
  /* background-color: blue; */
  margin: 16px 16px 0px 0px;
  font-weight: 700;
}

.indivOrder div.notes {
  width: 200px;
  font-weight: 400;
}

.indivOrder h3 {
  border-bottom: 1px solid black;
  padding-bottom: 16px;
}
